@use "../abstracs/colors" as *;
@use "../abstracs/variables" as *;

.product-detail {
    display: flex;
max-width: 960px;
flex-direction: column;
align-items: flex-start;
flex: 1 0 0;

&__breadcrumb {
    display: flex;
padding: 16px;
align-items: flex-start;
align-content: flex-start;
gap: 8px;
align-self: stretch;
flex-wrap: wrap;
margin: 0;
}

&__breadcrumb p {
    align-self: stretch;
    color: $color-texto-secundario;
font-feature-settings: 'dlig' on;
font-family: $fuente-primaria;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
margin: 0;
}

&__breadcrumb span {
    color: $color-texto-primario;
font-feature-settings: 'dlig' on;
font-family: $fuente-primaria;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
align-self: stretch;
}

&__title {
    display: flex;
padding: 20px 16px 12px 16px;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
margin: 0;
color: $color-texto-primario;
font-feature-settings: 'dlig' on;
font-family: $fuente-primaria;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 35px;
}

&__description {
    display: flex;
padding: 4px 16px 12px 16px;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
color: $color-texto-primario;
font-feature-settings: 'dlig' on;
font-family: $fuente-primaria;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
margin: 0;
}

&__image {
 display: flex;
padding: 16px;
align-items: flex-start;
align-self: stretch;
background: $color-background-img;
}

&__image img {
    display: flex;
align-items: flex-start;
gap: 8px;
flex: 1 0 0;
border-radius: 8px;
background: $color-background-img;
}

&__button {
    display: flex;
padding: 12px 16px;
align-items: flex-start;
align-self: stretch;
}

&__button-wrapper {
  background-color: $color-boton;
  color: white;
  border: none;
  padding:  10px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: $fuente-primaria;
}

.product-detail__button-wrapper:hover {
  background-color: $color-boton; 
}
}