$font-main: "Plus Jakarta Sans", sans-serif;

$color-primary: #171212;
$color-secondary: #876363;
$color-border: #ccc;
$color-white: #fff;
$color-bg: #F5F0F0;
$color-hover: #ddd;
$color-pagination: #f0f0f0;
$color-active: #F5F0F0;

$font-size-base: 16px;
$font-size-title: 32px;

$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 160px;
