@use '../abstracts/variables' as *;

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

  &__container {
    display: flex;
    max-width: 960px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
  }

  &__content {
    display: flex;
    padding: $spacing-xl $spacing-md;
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-lg;
    width: 100%;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  &__link {
    display: flex;
    width: 160px;
    min-width: 160px;
    flex-direction: column;
    align-items: center;

    &-title {
      width: 100%;
      color: $color-subtext;
      text-align: center;
      font-size: $font-size-md;
      font-weight: 400 !important;
      line-height: $line-height-md;
    }
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &-text {
      width: 100%;
      color: $color-subtext;
      text-align: center;
      font-size: $font-size-md;
      font-weight: 400 !important;
      line-height: $line-height-md;
    }
  }
}
