// _variables.scss
$padding-horizontal: 160px;
$padding-base: 20px;
$gap-base: 12px;
$color-primary: #171212;
$color-secondary: #876363;
$font-main: "Plus Jakarta Sans";
$border-radius-base: 8px;
$flex-default: flex;
$align-start: flex-start;
$flex-grow-shrink: 1 0 0;
