// Variables (opcional, pero buena práctica si vas a reutilizar estos valores)
$full-height: 100%;
$min-full-viewport-height: 100vh;
$flex-display: flex;
$flex-direction-column: column;

html, body {
    height: $full-height;
    min-height: $min-full-viewport-height;
    display: $flex-display;
    flex-direction: $flex-direction-column;
}