#minimalista {
    height: 480px;
    min-height: 480px;
    align-self: stretch;
    border-radius: 8px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0.32) 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.40) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
    margin: 20px 160px 20px 160px;

}