html, body {
    height: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.main--container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main--content {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}



#minimalist {
    height: 480px;
    min-height: 480px;
    align-self: stretch;
    border-radius: 8px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0.32) 100%),
                linear-gradient(90deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.40) 100%),
                url(<path-to-image>) lightgray 50% / cover no-repeat;
}

h2 {
    align-self: stretch;
    color: #171212;
    font-feature-settings: 'dlig' on;
    font-family: "Plus Jakarta Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

h3 {
    align-self: stretch;
    color: #171212;
    font-feature-settings: 'dlig' on;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: start;
}

p {
    align-self: stretch;
    color: #876363;
    font-feature-settings: 'dlig' on;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: start;
}

.productsycategories {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    gap: 16px;
}

.product__img {
    height: 244px;
    align-self: stretch;
    border-radius: 8px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    margin-right: 12px;
}
