// Colors
$color-text: #171212;
$color-subtext: #876363;
$color-bg: #ffffff;

// Font
$font-primary: 'Plus Jakarta Sans', sans-serif;

// Font sizes
$font-size-xl: 32px;
$font-size-lg: 22px;
$font-size-md: 16px;
$font-size-sm: 14px;

// Line heights
$line-height-xl: 40px;
$line-height-lg: 28px;
$line-height-md: 24px;
$line-height-sm: 21px;

// Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 40px;
$spacing-xxl: 160px;
